<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/swiper.css">
    <title>Swiper</title>
</head>

<body>

    <div class="center-content">
        <div id="swipe">
           <p id="price">{{p}}</p>
            <button id="btn" onclick="loadDoc()">EUR_USD</button>
        </div>
    </div>

    <div class="OANDA">
        <p id ="USD"></p>
    </div>

    <script>
        function loadDoc() {
            var p = document.getElementById("price").innerHTML;
            
            var str = JSON.parse(p);
            
            var myObj = document.getElementById("USD").innerHTML = str.liquidity;
            consol.log(myObj);
            

        }
    </script>
</body>

</html>
